<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="container">
        <section id="logo"></section>
        <section id="link">
            <section id="l1"></section>
            <section id="l2"></section>
        </section>
    </header>
    <nav></nav>
    <section class="section">
        <section id="aside"></section>
        <section class="artical">
            <section id="ar1"></section>
            <section id="ar2"></section>
        </section>
    </section>
    <footer></footer>
</body>
</html>